.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header"
    "calc";
}

.header {
  grid-area: header;
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 0.5rem 1rem;
  background-color: #333;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  align-content: center;
  margin: 0;
}

li {
  padding: 0.5rem 1rem;
  height: 100%;
  background-color: #fff;
  margin: 0 0.5rem;
}

li:hover {
  background-color: #999;
}

a {
  text-decoration: none;
  color: #777;
}

a:hover {
  text-decoration: none;
}

.home,
.quote {
  padding: 1rem;
}

p {
  padding: 1rem;
  border: 1px solid #333;
  color: #fff;
  background-color: #444;
  font-size: 1.2rem;
  font-family: sans-serif;
}
